<!--
File: home.html
Author: Orosz Levente
Copyright: 2022, Orosz Levente
Group: Szoft I N
Date: 2022-05-26
Github: https://github.com/Olevente/
Licenc: GNU GPL
-->



<h2>Lencseszferoid számítás</h2>
<form action="calc.php" method="get">
    <div>
        <label for="aTengely" class="form-label">a Tengely</label>
        <input type="text" class="form-controll" name="aTengely" id="aTengely">
    </div>
    <div>
        <label for="bTengely" class="form-label">b Tengely</label>
        <input type="text" class="form-controll" name="bTengely" id="bTengely">
    </div>
    <button type="submit" class="mt-4 btn btn-warning">Számít</button>
</form>